node_modules/
.pnpm-store/
public/audio/**
!public/audio/
!public/audio/.gitkeep
public/fonts/**
!public/fonts/
!public/fonts/.gitkeep
public/marks/**
!public/marks/
!public/marks/.gitkeep
out/**
!out/
!out/.gitkeep
